*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(24, 13, 13);
  color: rgb(232, 218, 218);
}
.hero-section {
      background: url('assets/background.jpg') no-repeat center center/cover;
      min-height: 100vh;
      color: white;
      position: relative;
    }

    .hero-overlay {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      inset: 0;
    }

    .hero-content {
      position: relative;
      z-index: 1;
    }

    .email-input {
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid #666;
      color: white;
    }

    .email-input::placeholder {
      color: #aaa;
    }

     .trending-scroll::-webkit-scrollbar {
    display: none;
  }
  .trending-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    }  /* Firefox */


    
.result-item:hover {
  background-color: #1f1f1f;
  transition: 0.3s ease;
}
